[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pillow = "*"
python-dotenv = "*"
google-generativeai = "*"
pypdf2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
